.con-sale-remind {
  width: 518px;
  height: 262px;
}
.con-sale-remind .con-remind-close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  top: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: #3595e6 url(http://assets.diandong.com/web/images/app/mall/public/public_sprite.png) no-repeat -65px -5px;
}
.con-remind-center {
  margin: 88px 0 42px;
  text-align: center;
  margin-right: 40px;
}
.con-remind-center i {
  display: inline-block;
  width: 74px;
  height: 61px;
  vertical-align: middle;
  background: url(http://assets.diandong.com/web/images/app/mall/public/public_sprite.png) no-repeat -139px -20px;
}
.con-remind-center span {
  margin-left: 25px;
  color: #30b853;
  font-size: 24px;
  vertical-align: middle;
}
.con-remind-ensurebox {
  text-align: center;
}
.con-remind-ensure {
  display: inline-block;
  width: 152px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background-color: #3595e6;
  border: none;
  outline: none;
  cursor: pointer;
}
.widget-saleremind {
  position: absolute;
  width: 700px;
  height: 454px;
  left: 50%;
  margin-left: -350px;
  background-color: #fff;
  z-index: 500;
}
.widget-saleremind h3 {
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  color: #ced8e2;
  padding-left: 24px;
  background-color: #282c30;
  border-bottom: 3px #3595e6 solid;
}
.widget-saleremind-form {
  margin: 40px 40px 30px;
  color: #a6b1bc;
  font-size: 16px;
}
.widget-saleremind-close {
  position: absolute;
  width: 46px;
  height: 46px;
  right: 0;
  top: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: #3595e6 url(http://assets.diandong.com/web/images/app/mall/public/public_sprite.png) no-repeat -65px -5px;
}
.widget-saleremind-required {
  color: #f00d0d;
  vertical-align: top;
}
.widget-saleremind-selectcar {
  border-bottom: 1px #e5e5e5 solid;
  padding-left: 40px;
  padding-bottom: 30px;
}
.widget-saleremind-selectcar dd {
  margin-top: 18px;
}
.widget-saleremind-selectcar select {
  width: 170px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #888;
  border: 1px #e5e5e5 solid;
  margin-right: 10px;
}
.widget-saleremind-table {
  width: 600px;
  margin: 22px auto 0 25px;
}
.widget-saleremind-table td {
  height: 58px;
  line-height: 58px;
}
.widget-saleremind-ltd {
  width: 100px;
  text-align: right;
}
.widget-saleremind-rtd {
  padding-left: 20px;
}
.widget-saleremind-text {
  width: 324px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border: 1px #e5e5e5 solid;
  color: #888;
}
.widget-saleremind-submit {
  text-align: center;
  margin-top: 20px;
}
.widget-saleremind-submitbtn {
  width: 152px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: #3595e6;
}
.widget-saleremind-submitbtn:hover {
  background-color: #197acc;
}
.widget-saleremind-mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
  background-color: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}
.widget-saleremind-success-center {
  margin: 70px 60px 30px 90px;
}
.widget-saleremind-successicon {
  float: left;
  width: 74px;
  height: 61px;
  margin-top: 20px;
  background: url(http://assets.diandong.com/web/images/app/mall/public/public_sprite.png) no-repeat -139px -20px;
}
.widget-saleremind-successwords {
  float: left;
  margin-left: 20px;
  color: #a6b1bc;
  font-size: 16px;
}
.widget-saleremind-successwords span,
.widget-saleremind-errorwords span {
  color: #3595e6;
}
.widget-saleremind-congratulations {
  font-size: 24px;
  color: #30b853;
  margin-bottom: 5px;
}
.widget-saleremind-tips {
  text-align: center;
  font-size: 14px;
  color: #f23232;
  margin-top: 18px;
}
