.swiper-container {

}
.swiper-wrapper {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}
.swiper-slide {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
 background-size:100% auto;
}
.slide1{
background-image:url(http://i1.dd-img.com/assets/image/1535106413-b779d0a92b1adf6e-750w-1334h.png);
background-position: center bottom; 
background-repeat: no-repeat;
background-color: #0080cd;
text-align: center;
position: relative;
} 

.slide2{
  background-image:url(//zhuanti.diandong.com/zt/2018/08/BYD/img/bg2.png);
  background-position: center; 
  background-repeat: no-repeat;
  background-color: #050a24;
  position: relative;
}
.slide2-img{
  width: 16.0rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8.0rem;
  margin-top: -10.3rem;
}
 .slide3{
   background-image:url(http://i1.dd-img.com/assets/image/1535106981-545c9711e714e890-750w-1334h.png);
  background-position: center; 
  background-repeat: no-repeat;
  background-color: #050a24;
  position: relative;
} 
 .slide4{
  background-image:url(//zhuanti.diandong.com/zt/2018/08/BYD/img/bg4.jpg); 
  background-position: center center;  
  background-repeat: repeat-y;
  text-align: center;
  position: relative;
} 
 .slide5{
  background-image:url(//zhuanti.diandong.com/zt/2018/08/BYD/img/bg5.jpg); 
  background-position: center center;  
  background-repeat: repeat-y;
  text-align: center;
  position: relative;
} 
.slide6{
  background-image:url(//zhuanti.diandong.com/zt/2018/08/BYD/img/bg6.jpg); 
  background-position: center top;  
  background-repeat: no-repeat;
  background-color: #fff;
  text-align: center;
  position: relative;
}
.swiper-slide-active{
  overflow: hidden;
}
.slide1-logo{
    width: 14.59rem;
    vertical-align: bottom;
    position: absolute;
    left: 50%;
    top: 3%;
    margin-left: -7.3rem;
}
.slide1-tit{
    width: 14.89rem;
    position: absolute;
     left:0;
    bottom: 50%;
}
.next{
    width: 1.22rem;
    position: absolute;
    left: 50%;
    bottom: 3%;
    margin-left: -0.62rem;
}
 
 .apply{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6.91rem;
    margin-top: -9.64rem;
 }
 .apply-title{
    width: 13.74rem;
    height: 2.84rem;
 }
 .apply-hiht{
    color: #050a24;
    font-size: 0.55rem;
    margin-top: 0.85rem;
 }
 .car-box{
  width: 16.0rem;
  height: 20.48rem;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left:-8rem;
  margin-top: -10.24rem;
  background: url('//zhuanti.diandong.com/zt/2018/08/BYD/img/pic5.png') no-repeat;
  background-size: 16.0rem;
 }
 .slide4-car{
    background: url('//zhuanti.diandong.com/zt/2018/08/BYD/img/pic4.png') no-repeat;
    background-size: 16rem;
 }
 .slide6-car{
    background: url('//zhuanti.diandong.com/zt/2018/08/BYD/img/pic6.png') no-repeat;
    background-size: 16rem;
 }
 .car-box a{
   width: 4.35rem;
   height: 1.8rem;
   display: inline-block;
   position: absolute;
   top: 5.4rem;
   left: 50%;
   margin-left: -2.2rem;
 }
/* .car-box.slide4-car a{
    top: 3.4rem;
    left: 50%;
    margin-left: -2.6rem;
 }
.car-box.slide6-car a{
    top: 3.6rem;
    left: 50%;
    margin-left: -2.2rem;
 }*/
     
     
 .slide6-img{
    width: 14.74rem;
    height: 1.07rem;
    position: absolute;
    left: 50%;
    bottom: 4%;
    margin-left: -7.36rem;
 }

 .card-form-sel{
    width: 13.83rem;
    text-align: left;
    margin: 0 auto;
}
.card-form-sel p{
    font-size: 0.6rem;
    color: #0b0e2f;
    padding: 0.64rem 0 0.43rem 0.43rem;
}
.card-form-sel select{
    height: 1.88rem;
    font-size: 0.68rem;
    outline: none;
    border: none;
    padding-left: 0.34rem;
    color: #333;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #cdcdcd;  
}
.card-form-sel .card-form-sel-city{
    width: 4.2rem;
    border-right: none;
}
.card-form-sel .card-form-sel-dealer{
    width: 9.6rem;
}

.form-item{
    width: 13.83rem;
    height: 1.88rem;
    background: #fff;
    margin:0.43rem auto 0;
    overflow: hidden;
    text-align: left;
    font-size: 0;
}
.form-item-input,.card-form-sel-car{
    width: 13.83rem;
    height: 1.88rem;
    background: #fff;
    border: none;           
    font-size: 0.68rem;
    box-sizing:border-box;
    outline: none;
    border: 1px solid #cdcdcd;  
    padding-left: 0.34rem; 
}
select option{
  color: #333
}



.card-form-sel-button{
    width: 13.83rem;
    height: 1.88rem;
    text-align: center;
    line-height:1.88rem;
    background: #3399ff url('//zhuanti.diandong.com/zt/2018/08/BYD/img/bg.jpg') no-repeat bottom right;
    background-size:0.45rem; 
    color: #fff;
    font-size: 0.68rem; 
    font-weight: 600;
    cursor: pointer;
    margin:1.07rem auto 0;
}
.card-form-user{
  border-top: 1px solid #e6e6e6;
  margin-top: 0.38rem;
  padding-top: 0.64rem;
  color: #050a24;
  font-size: 0.68rem;
  padding-bottom: 0.2rem;
}
.card-form-user-choose{
  color: #666;
  margin:0 1.07rem 0  0.77rem;
}
.card-form-user-choose.current{
    color: #050a24;
}
