<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <title>nav</title>
    <meta charset="utf-8">
    <meta name="applicable-device" content="pc">
    <meta name="renderer" content="webkit">
    <!-- <link rel="stylesheet" href="/assets/web/css/base.min.css"> -->
    <link rel="stylesheet" href="/assets/web/css/normal/normal.css">
    <link rel="stylesheet" href="nav.css">
    <script src="/assets/web/js/common.min.js"></script>
</head>

<body>

    <div id="dd-global-nav" class="dd-global-nav">
        <div class="wrap">
            <div class="sort-menu j-show-panel">
                <a href="javascript:;" class="sort-menu-btn">
                    <span>条件找车</span>
                    <i class="icon">&#xe606;</i>
                </a>
                <div class="focus-menu fn-hide">
                    <div class="focus-menu-brand j-show-brand-panel">
                        <dl class="focus-menu-type">
                            <dt>按品牌</dt>
                            <dd class="clearfix">
                                <a href="" target="_blank">北汽</a>
                                <a href="" target="_blank">宝马</a>
                            </dd>
                        </dl>
                        <div class="focus-brand-panel fn-hide">
                            <div class="focus-brand-list">
                                <dl class="brand-list-item clearfix">
                                    <dt>A-G</dt>
                                    <dd><a href="" target="_blank">北汽</a></dd>
                                    <dd><a href="" target="_blank">奥迪</a></dd>
                                    <dd><a href="" target="_blank">启辰</a></dd>
                                </dl>
                                <dl class="brand-list-item clearfix">
                                    <dt>H-S</dt>
                                    <dd><a href="" target="_blank">北汽</a></dd>
                                    <dd><a href="" target="_blank">奥迪</a></dd>
                                    <dd><a href="" target="_blank">启辰</a></dd>
                                </dl>
                                <dl class="brand-list-item clearfix">
                                    <dt>T-Z</dt>
                                    <dd><a href="" target="_blank">北汽</a></dd>
                                    <dd><a href="" target="_blank">奥迪</a></dd>
                                    <dd><a href="" target="_blank">启辰</a></dd>
                                </dl>
                                <a href="" target="_blank" class="focus-brand-more">查看更多品牌></a>
                            </div>
                            <div class="focus-store-list">
                                <header class="focus-store-header">
                                    <i class="icon">&#xe629;</i>
                                    <h4>官方旗舰店</h4>
                                </header>
                                <div class="focus-store-content">
                                    <ul class="clearfix">
                                        <li>
                                            <a href="">
                                                <img src="http://fpoimg.com/56x56" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="http://upload.diandong.com/photo/pinpai/d6/e0/40/1423301072.png" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="http://upload.diandong.com/photo/pinpai/66/99/58/1423300754.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="focus-menu-price">
                        <dl class="focus-menu-type">
                            <dt>按价格</dt>
                            <dd class="clearfix">
                                <a href="" target="_blank">10万以下</a>
                                <a href="" target="_blank">10-20万</a>
                                <a href="" target="_blank">20-30万</a>
                                <a href="" target="_blank">30-50万</a>
                                <a href="" target="_blank">50万以上</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="focus-menu-range">
                        <dl class="focus-menu-type">
                            <dt>按续航</dt>
                            <dd class="clearfix">
                                <a href="" target="_blank">100公里以下</a>
                                <a href="" target="_blank">100-200公里</a>
                                <a href="" target="_blank">200-300公里</a>
                                <a href="" target="_blank">300-400公里</a>
                                <a href="" target="_blank">400公里以上</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <nav class="global-menu">
                <a href="http://www.diandong.com/" target="_blank" class="nav-mall">首页</a>
                <a href="http://mall.diandong.com/activity/" target="_blank" class="nav-hot current">特卖</a>
                <a href="http://car.diandong.com/" target="_blank" class="nav-model">车型库<i class="hot-tag"></i></a>
                <a href="http://car.diandong.com/subsidy/index/" target="_blank" class="nav-subsidy">补贴库</a>
                <a href="http://www.diandong.com/news/" target="_blank" class="nav-news">新闻</a>
                <a href="http://www.diandong.com/roadtest/" target="_blank" class="nav-test">评测</a>
                <a href="http://www.diandong.com/video/" target="_blank" class="nav-video">视频</a>
                <a href="http://www.diandong.com/wiki/" target="_blank" class="nav-wiki">百科</a>
                <a href="http://bbs.diandong.com/forum.php" target="_blank" class="nav-bbs">论坛</a>
            </nav>
        </div>

        <div class="mini-nav">
            <div class="wrap">
                <div class="mini-nav-logo fn-left"><a href="" target="_blank">电动邦</a></div>
                <nav class="mini-nav-list fn-right">
                    <a href="http://www.diandong.com/" target="_blank" class="nav-mall">
                        <span>首页</span>
                    </a>
                    <a href="http://mall.diandong.com/activity/" target="_blank" class="nav-hot current">
                        <span>特卖</span>
                        <i class="hot-tag"></i>
                    </a>
                    <a href="http://car.diandong.com/" target="_blank" class="nav-model">
                        <span>车型库</span></a>
                    <a href="http://car.diandong.com/subsidy/index/" target="_blank" class="nav-subsidy">
                        <span>补贴库</span>
                    </a>
                    <a href="http://www.diandong.com/news/" target="_blank" class="nav-news">
                        <span>新闻</span>
                    </a>
                    <a href="http://www.diandong.com/roadtest/" target="_blank" class="nav-test">
                        <span>评测</span>
                    </a>
                    <a href="http://www.diandong.com/video/" target="_blank" class="nav-video">
                        <span>视频</span>
                    </a>
                    <a href="http://www.diandong.com/wiki/" target="_blank" class="nav-wiki">
                        <span>百科</span>
                    </a>
                    <a href="http://bbs.diandong.com/forum.php" target="_blank" class="nav-bbs">
                        <span>论坛</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>

    <script>
        seajs.use(['./nav'], function(nav) {
            nav.init({
                showMenu: true,
                hasMini: true
            });
        });
        // seajs.use(['nav'], function(nav) {
        //     nav.init({
        //         showMenu: false
        //     });
        // });
    </script>

</body>

</html>
