html,body{
	height:100%;
	background: #000;
}
.getedVerify{
	color: #fff!important;
	background: #ccc!important;
}
#wrap{
	/*overflow: hidden;*/
	width:100%;
}
#main{
	position: relative;
	top:0;
	margin-bottom: 150px;
}

.page{
	position: relative;
	width: 100%;
	min-width: 1200px;
	/*padding-bottom: 30px;*/
	margin-bottom: 30px;
	background-size: 100%;
	-moz-background-size:100%;
	-webkit-background-size:100%;
	-ms-background-size:100%;
	-o-background-size:100%;
}
.page-next{
	position: absolute;
	left: 50%;
	bottom: 20px;
	margin-left: 17px;
	cursor: pointer;
}
@media screen and (max-width: 1850px) {
	
}
.page-next img{
	width: 34px;
	height: 21px;
}
/*.active1{
	background: url(../images/top-banner.jpg) no-repeat center center;
	background-size: 100%;
}*/
/*表单提交*/
.drive-form{
	position: fixed;
	z-index: 9999999999;
	bottom: 0;
	width: 100%;
	min-width: 1200px;
	height: 96px;
	background: rgba(0,0,0,0.5);
}
.drive-form>form{
	width: 1180px;
	height: 34px;
	margin: 31px auto;
	color: #666;
}

.drive-form>form input,.drive-form>form select,.drive-form>form button{
	outline: none;
	border: none;
}
.drive-form>form input{
	width: 225px;
	height: 34px;
	line-height: 34px;
	padding-left: 13px;
	font-size: 16px;
}
.drive-form select{
	width: 108px;
	height: 34px;
	padding-left: 10px;
	line-height: 34px;
	font-size: 16px;
	color: #666;
}
.form-wrap>div{
	font-size: 0;
	margin-left:22px; 
}
.form-wrap>div:first-of-type{
	margin-left: 0
}
.form-wrap>div:nth-of-type(2){
	margin-left: 2px;
}
.drive-form .car-write-verify{
	width: 137px;
	vertical-align: middle;
}
.car-get-verify{
	width: 80px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	font-size: 12px;
	background: #000;
	color: #d2f400;
	vertical-align: middle;
}
.car-baming{
	width: 160px;
	height: 34px;
	background: #dcff00;
	font-size: 16px;
	color: #000;
}


.drive-form .drive-member{
	margin-top: 10px;
}
.drive-form .drive-member>input{
	width: 13px;
	height: 13px;
	vertical-align: middle;
}
.drive-form .drive-member>label{
	color: #999;
	vertical-align: middle;
}

/*活动细则弹出框*/
.active-prop{
	position: fixed;
	z-index: 9999;
	left: 50%;
	top: 50%;
	width: 1115px;
	height: 510px;
	margin-left: -557.5px;
	margin-top: -255px;
}
.active-off{
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
.arctive-off>img{
	width: 44px;
	height: 44px;
}

.form-wrap .car-succ{
	width: 658px;
	height: 515px;
	position: fixed;
	z-index: 9999;
	left: 50%;
	top: 50%;
	margin-left: -329px;
	margin-top: -255px;
}
.form-wrap .car-succ .car-succ-close{
	width: 48px;
	height: 48px;
	position: absolute;
	right: 0;
	top: 0;
}
.active8{
	position: relative;
	width: 100%;
	min-width: 1200px;
	/*height: 690px;*/
}
.active-xz-show{
	position: absolute;
	z-index: 10;
	left: 22%;
	bottom: 15%;
	width: 281px;
	height: 70px;
	cursor: pointer;
}
.active-xz-btn{
	position: absolute;
	left: 22%;
	top: 51%;
	width: 600px;
	/*margin-left: -600px;*/
}
.active-xz-btn>a{
	display: inline-block;
	width: 50px;
	height: 130px;
}
.active-xz-btn>a:last-of-type{
	margin-left: 43%;
}
@media screen and (max-width: 1850px) {
	.active-xz-btn>a{
		height: 110px;
	}
	.active-xz-btn>a:last-of-type{
		margin-left: 42%;
	}
}
@media screen and (max-width: 1700px) {
	.active-xz-btn>a{
		height: 110px;
	}
	.active-xz-btn>a:last-of-type{
		margin-left: 35%;
	}
}
@media screen and (max-width: 1600px) {
	.active-xz-btn>a{
		height: 105px;
	}
	.active-xz-btn>a:last-of-type{
		margin-left: 31%;
	}
}
@media screen and (max-width: 1500px) {
	.active-xz-btn>a{
		height: 100px;
	}
	.active-xz-btn>a:last-of-type{
		margin-left: 30%;
	}
}
@media screen and (max-width: 1400px) {
	.active-xz-btn>a{
		height: 100px;
	}
	.active-xz-btn>a:last-of-type{
		margin-left: 28%;
	}
}
@media screen and (max-width: 1300px) {
	.active-xz-btn>a{
		height: 85px;
	}
	.active-xz-btn>a:last-of-type{
		margin-left: 25%;
	}
}
@media screen and (max-width: 1200px) {
	.active-xz-btn>a{
		height: 85px;
	}
	.active-xz-btn>a:last-of-type{
		margin-left: 24%;
	}
}
.active-xz-show>img{
	width: 281px;
	height: 70px;
}
.active2{
	/*background: url('../images/video-banner.jpg') no-repeat center center #000;*/
	/**/
}
.active3{
	background: url('../images/coupe-banner.jpg') no-repeat center center #000;
}
.active4{
	background: url('../images/performance-bg.jpg') no-repeat center center #000;
}
.active5{
	background: url('../images/perfo-last-bg.jpg') no-repeat center center #000;
}
.active6{
	background: url('../images/pc-bg.jpg') no-repeat center center #000;
}
.active7{
	background: url('../images/inter-auto-bg.jpg') no-repeat center center #000;
}
.active3-main,.active4-main,.active5-main,.active6-main,.active7-main{
	padding-top: 30px;
	/*padding-bottom: 50px;*/
}
.active-title{
	width: 1200px;
	height: 150px;
	margin: 0 auto;
}
.active-title>img{
	width: 1200px;
	height: 150px;
}
.active-swiper{
	width: 1200px;
	height: 675px;
	margin: 0 auto;
}
.active-content{
	position: relative;
	width: 1300px;
	margin: 0 auto;
	padding-bottom: 20px;
}
.swiper-container{
	width: 1200px;
	height: 675px;
	margin: 0 auto;
	overflow: hidden;
}
.swiper-btn-prev,.swiper-btn-next{
	position: absolute;
	top: 50%;
	width: 32px;
	height: 42px;
	margin-top: -21px;
	background: url('../images/lt-arrow.png') no-repeat;
	cursor: pointer;
}
.swiper-btn-next{
	right: 0;
	background: url('../images/gt-arrow.png') no-repeat;
}
.pagination{
  	text-align: center;
  	margin-top: -30px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  text-align: center;
  margin-right: 20px!important;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  background: #fff;
  margin: 0 5px;
  opacity: 0.8;
  cursor: pointer;
}
.swiper-pagination-switch:last-of-type{
	margin-right: 0!important
}
.swiper-visible-switch, .swiper-active-switch{
	background: #daff00;
}

.active-swiper div img{
	width: 1200px;
	height: 675px;
}

.active4-main .active-title,.active5-main .active-title{
	height: 131px;
}
.active4-main .active-title>img,.active5-main .active-title>img{
	height: 131px;
}
/*视频播发*/
.active2 .active-title{
	height: 136px;
}
.active2 .active-title>img{
	width: 1200px;
	height: 136px;
}
.video-main{
	width: 1200px;
	height: 615px;
	margin: 0 auto;
}
/*视频结束*/
.perfo-first{
	position: relative;
}
.perfo-first-content{
	width: 1230px;
	margin:0 auto;
}
.perfo-first-content>ul{
	width: 1200px;
	height: 675px;
	overflow: hidden;
}
.perfo-first-content>ul img{
	width: 1200px;
	height: 675px;
}
.perfo-first-content>div:first-of-type{
	width: 25px;
	height: 675px;
	margin-left: -25px;
}
.perfo-first-content>div:first-of-type img{
	width: 25px;
	height: 675px;
}
.perfo-first-content>div:last-of-type{
	width: 5px;
	height: 675px;
}
.perfo-first-content>div:last-of-type img{
	width: 5px;
	height: 675px;
}
.perfo-first-nav{
	position: absolute;
	left: 50%;
	width: 700px;
	height: 77px;
	margin-left: -350px;
	background: url('../images/perfo-first-navbg.png') no-repeat;
	background-size: 100%;
	margin-top: -77px;
}
.perfo-first-nav>ul{
	width: 600px;
	margin: 10px auto;
}
.perfo-first-nav>ul>li{
	width: 150px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	border-radius: 4px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

.perfo-first-nav>ul>li.perforHover{
	background: rgba(218,255,0,0.2);

}
/*.active5 .active-content{
	height: 675px;
}*/
.perfo-btm{
	width: 400px;
	height: 14px;
	margin: 0 auto;
}
.perfo-btm>img{
	width: 400px;
	height: 14px;
}
/*智能新感觉*/

.active6-main .active-content{
	position: relative;
	width: 1300px;
	/*height: 600px;*/
	margin: 0 auto;
}
.active-content .intel-con{
	width: 1110px;
}
.intel-content{
	width: 1070px;
	height: 600px;
	margin: 0 auto;
}
.active-content .intel-content>ul>li{
	width: 1070px;
	height: 600px;
	overflow: hidden;
	border-radius: 20px;
	margin: 0 auto;
}
.active-content .intel-con img{
	width: 1070px;
	height: 600px;
}
.active6-main .active-title{
	height: 123px;
}
.active6-main .active-title{
	height: 123px;
}
.active6-main .active-title>img{
	height: 123px;
}
.intel-des{
	position: absolute;
	width: 255px;
	height: 22px;
	left: 10px;
	bottom: 100px;
}
.intel-des>img{
	width: 255px;
	height: 22px;
}
.intel-nav{
	width: 1110px;
	margin: 0 auto;
}
.intel-nav li{
	width: 123px;
	text-align: center;
}
.intel-nav li .intel-nav-tl{
	width: 100px;
	height: 44px;
	line-height: 44px;
	margin: 0 auto 5px auto;
	border: 1px solid #fff;
	border-radius: 4px;
	color: #e6ff00;
	font-weight: bold;
	font-size: 22px;
	cursor: pointer;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.intel-nav li .intel-nav-tl:hover{
	border: 4px solid #e6ff00;
}
.intel-nav li>p{
	color: #fff;
}
.active7 .active-title{
	height: 135px;
}
.active7 .active-title>img{
	height: 135px;
}
.active7 .active-wrap{
	width: 1243px;
	height: 720px;
	margin: 0 auto;
	background: url('../images/inter-swiper-bg.png') no-repeat #000;
	background-size: 100%;
}
.swiper-btn-next3{
	right: -5px;
}
.active7 .pagination{
  	text-align: center;
  	margin-top: -70px;
}
.configuration{
	margin-top: 144px;
}
.configuration-title img,.configuration-title{
	width: 1200px;
	height: 120px;
}
.configuration-box{
	width: 1200px;
	margin:0 auto;
}
.configuration-box-main{
	height: 564px;
    overflow: auto;
}
.go-website{
	text-align: center;
	width: 1200px;
	margin:0 auto;
	height: 863px;
	background: url('../images/webbg.jpg') no-repeat;
	background-size: 1200px;
}
.go-website a{
	width: 321px;
	height: 66px;
	margin-top:40px;
	display: inline-block;
	background: url('../images/goweb.png') no-repeat;
	background-size: 321px;
}
    