.comment-praise{
    color: #3595e7;
}
.article-comment{
    width: 550px;
    margin-top: 40px;
}
.comment-form {
    border-radius: 3px;
}
.comment-form-cover {
    height: 88px;
    margin: 20px 0;
    border: 1px solid #d8d8d8;
    background-color: white;
    border-radius: 3px;
}
.comment-form-cover a {
    line-height: 20px;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    display: block;
    height: 50px;
    padding: 19px 0;
}
.comment-form-cover p {
    padding: 0 30px;
    background-color: #f9f9f9;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    color: #888;
    transition: 0.3s background-color;
    -webkit-transition: 0.3s background-color;
    -moz-transition: 0.3s background-color;
    -ms-transition: 0.3s background-color;
    -o-transition: 0.3s background-color;
}
.comment-form-cover a:hover p {
    background-color: #f6f6f6;
}
.comment-form-cover span {
    color: #3595e7;
}
.comment-form-content form{
    background: #f8f8f8;
    padding: 15px 0;
}
.article-comment-header h3{
    margin-bottom: 15px;
    font-size: 24px;
    color: #434343;
}
.comment-form-totalNum span{
    color: #999;
}
.comment-content-textarea {
    /*box-sizing: border-box;*/
    margin-left: 15px;
    border-radius: 3px;
    width: 490px;
    height: 70px;
    padding: 14px 14px 0 14px;
    border: 1px solid #d8d8d8;
    resize: none;
    outline: none;
    font-size: 14px;
    color: #323c44;
    line-height: 20px;
    word-wrap: break-word;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: block;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.comment-content-textarea:focus {
    border-color: #86c1f3;
    box-shadow: inset 0 1px 3px rgba(53, 149, 231, 0.1);
}
.comment-form-footer {
    height: 50px;
    padding-top: 15px;
}
.comment-submit-btn {
    width: 124px;
    height: 40px;
    text-align: center;
    background-color: #3b97e4;
    color: white;
    line-height: 40px;
    font-size: 16px;
    border-radius: 3px;
    margin-top: 7px;
    margin-right: 15px;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
.comment-submit-btn:hover {
    color: white;
    background-color: #197acc;
}
.comment-submit-btn.disabled {
    background-color: #ddd;
    cursor: default;
}
.comment-item {

    margin: 0 15px;
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
}
.comment-item-header {
    height: 50px;
    font-size: 14px;
}
.comment-item-user {
    color: #666;
    margin-top: 10px;
}
.comment-user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.comment-user-avatar img {
    width: 50px;
    height: 50px;
}
.comment-user-name {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #888;
}
.comment-item-time {
    color: #ccc;
}
.comment-reply-btn {
    color: #3595e7;
    margin-left: 35px;
   line-height: 22px;
}
.comment-reply-btn:hover {
    color: #197acc;
}
.comment-like-btn {
    width: 50px;
    color: #b9b9b9;
    margin-left: 20px;
}
.comment-like-btn.on {
    color: #3595e7;
}
.comment-like-btn i {
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
}
.comment-like-btn span{
    vertical-align: middle;
    padding-left: 10px;
}
.comment-item-content {
    line-height: 24px;
    font-size: 14px;
    color: #323c44;
    margin-top: 12px;
}
.comment-item-con{
    padding-bottom: 15px;
}
/*.comment-page {
    padding: 20px 0;
}*/
.comment-item-content{
    width: 435px;
    margin-left: 70px;
}
.comment-reply-list{
    background-color: #f5f5f5;
}
.comment-reply-textarea{
    width: 300px;
    height: 38px;
    padding-left: 10px;
    line-height: 38px;
    border: 1px solid #3b97e4;
    border-right: transparent;
    resize: none;
    outline: none;
    font-size: 14px;
    color: #323c44;
    word-wrap: break-word;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: white;
    display: block;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    vertical-align: middle;
}
.reply-submit{
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    background: #3b97e4;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    vertical-align: middle;
    cursor: pointer;
}
.comment-quote {
    line-height: 24px;
    padding: 6px 16px;
}
.reply-form{
    position: relative;
    margin-top: 15px;
}
.reply-word{
    position: absolute;
    right: 5px;
    top: 8px;
    color: #999;
}
.reply-list-btn{
    padding-left: 10px;
    color: #3b97e4;
    cursor: pointer;
}
.reply-list-more{
    color: #3b97e4;
    padding: 5px 0 10px 15px;
    cursor: pointer;
}
.reply-list-name,.reply-list-replyname{
    color: #999;
}
.comment-empty {
    height: 250px;
    background-image: url(http://i1.dd-img.com/assets/image/1495782325-f17e69f6119a9bcd-270w-140h.png);
    background-repeat: no-repeat;
    background-position: center;
}
.comment-more{
    width: 100%;
    text-align: center;
    margin: 20px 0;
    color: #3b97e4;
    font-size: 14px;
    cursor: pointer;
    position: relative;;
}
.comment-more-btn{
    color: #3b97e4;
}
.comment-more-icon{
    position: absolute;
    right: 20px;
    background: url(./images/commet-icon.png) no-repeat;
    background-size: 14px 14px;
    color: #333;
    padding-left: 20px;
}
.comment-none,.comment-empty{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    color: #999;
}
.comment-empty{
    font-size: 20px;
}