<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <title>tip</title>
    <meta charset="utf-8">
    <meta name="applicable-device" content="pc">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/assets/web/css/base.min.css">
    <script src="/assets/web/js/common.min.js"></script>
</head>
<body>
    <style>
        img{
            height:200px;
        }
    </style>
    <div>
        <img class="con-imgwh100 img-lazyload" src="http://assets.diandong.com/web/images/app/mall/public/blank.png" data-src="http://upload.diandong.com/photo/pinpai/a8/2c/4/1457340556.png" alt="">
    </div>
    <div>
        <img class="con-imgwh100 img-lazyload" src="http://assets.diandong.com/web/images/app/mall/public/blank.png" data-src="http://upload.diandong.com/photo/pinpai/a8/2c/4/1457340556.png" alt="">
    </div>
    <div>
        <img class="con-imgwh100 img-lazyload" src="http://assets.diandong.com/web/images/app/mall/public/blank.png" data-src="http://upload.diandong.com/photo/pinpai/a8/2c/4/1457340556.png" alt="">
    </div>
    <div>
        <img class="con-imgwh100 img-lazyload" src="http://assets.diandong.com/web/images/app/mall/public/blank.png" data-src="http://upload.diandong.com/photo/pinpai/a8/2c/4/1457340556.png" alt="">
    </div>
    <div>
        <img class="con-imgwh100 img-lazyload" src="http://assets.diandong.com/web/images/app/mall/public/blank.png" data-src="http://upload.diandong.com/photo/pinpai/a8/2c/4/1457340556.png" alt="">
    </div>
    <div>
        <img class="con-imgwh100 img-lazyload" src="http://assets.diandong.com/web/images/app/mall/public/blank.png" data-src="http://upload.diandong.com/photo/pinpai/a8/2c/4/1457340556.png" alt="">
    </div>
    <div>
        <img class="con-imgwh100 img-lazyload" src="http://assets.diandong.com/web/images/app/mall/public/blank.png" data-src="http://upload.diandong.com/photo/pinpai/a8/2c/4/1457340556.png" alt="">
    </div>
    <div>
        <img class="con-imgwh100 img-lazyload" src="http://assets.diandong.com/web/images/app/mall/public/blank.png" data-src="http://upload.diandong.com/photo/pinpai/a8/2c/4/1457340556.png" alt="">
    </div>
    <div>
        <img class="con-imgwh100 img-lazyload" src="http://assets.diandong.com/web/images/app/mall/public/blank.png" data-src="http://upload.diandong.com/photo/pinpai/a8/2c/4/1457340556.png" alt="">
    </div>
    
    <script>
        seajs.use(['./imglazyload.js'], function(imglazyload) {
            imglazyload.init();
        });
    </script>
    
</body>
</html>