<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <title>footer_v2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="applicable-device" content="pc">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="http://assets.diandong.com/web/css/normal/normal.css">
    <link rel="stylesheet" href="footer.css">
</head>

<body>

    <footer id="global-footer" class="global-footer">
        <div class="footer-content">
            <div class="wrap clearfix">
                <div class="footer-intro fn-left">
                    <div class="footer-logo"></div>
                    <div class="footer-intro-text">电动邦|电动汽车网（www.diandong.com）是专注于为用户提供新能源汽车购买和使用指南的专业电商网站。网站涵盖车型包括纯电动车、增程式电动车、燃料电池车、插电式混合动力车、强混合动力汽车各类新能源汽车。买电动车，上电动邦！</div>
                </div>
                <div class="footer-links fn-left">
                    <dl class="fn-left">
                        <dt>平台简介</dt>
                        <dd><a href="" target="_blank">关于我们</a></dd>
                        <dd><a href="" target="_blank">商城简介</a></dd>
                        <dd><a href="" target="_blank">交易条款</a></dd>
                    </dl>
                    <dl class="fn-left">
                        <dt>购车流程</dt>
                        <dd><a href="" target="_blank">关于我们</a></dd>
                        <dd><a href="" target="_blank">商城简介</a></dd>
                        <dd><a href="" target="_blank">交易条款</a></dd>
                        <dd><a href="" target="_blank">关于我们</a></dd>
                        <dd><a href="" target="_blank">商城简介</a></dd>
                        <dd><a href="" target="_blank">交易条款</a></dd>
                    </dl>
                    <dl class="fn-left">
                        <dt>联系方式</dt>
                        <dd><a href="" target="_blank">关于我们</a></dd>
                        <dd><a href="" target="_blank">商城简介</a></dd>
                        <dd><a href="" target="_blank">交易条款</a></dd>
                    </dl>
                </div>
                <div class="footer-code fn-right">
                    <div class="code-holder"></div>
                    <div class="code-text">关注电动邦官微</div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="wrap">
                2014电动邦 . 京ICP备14045516号 <a href="http://www.diandong.com/sitemap.xml" target="_blank" class="site-map">网站地图</a>
                <a id='___szfw_logo___' href='https://credit.szfw.org/CX20150812010708310189.html' target='_blank'>
                    <img src='http://icon.szfw.org/cert.png' border='0'>
                </a>
            </div>
        </div>
        <script type='text/javascript'>
            (function() {
                document.getElementById('___szfw_logo___').oncontextmenu = function() {
                    return false;
                }
            })();
        </script>
    </footer>

</body>

</html>
